:root {
    /* Photon Colors CSS Variables v3.2.0 */

    /* This Source Code Form is subject to the terms of the Mozilla Public
     * License, v. 2.0. If a copy of the MPL was not distributed with this
     * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
    --magenta-50: #ff1ad9;
    --magenta-60: #ed00b5;
    --magenta-70: #b5007f;
    --magenta-80: #7d004f;
    --magenta-90: #440027;
    --purple-30: #c069ff;
    --purple-40: #ad3bff;
    --purple-50: #9400ff;
    --purple-60: #8000d7;
    --purple-70: #6200a4;
    --purple-80: #440071;
    --purple-90: #25003e;
    --blue-40: #45a1ff;
    --blue-50: #0a84ff;
    --blue-50-a30: rgba(10, 132, 255, 0.3);
    --blue-60: #0060df;
    --blue-70: #003eaa;
    --blue-80: #002275;
    --blue-90: #000f40;
    --teal-50: #00feff;
    --teal-60: #00c8d7;
    --teal-70: #008ea4;
    --teal-80: #005a71;
    --teal-90: #002d3e;
    --green-50: #30e60b;
    --green-60: #12bc00;
    --green-70: #058b00;
    --green-80: #006504;
    --green-90: #003706;
    --yellow-50: #ffe900;
    --yellow-60: #d7b600;
    --yellow-70: #a47f00;
    --yellow-80: #715100;
    --yellow-90: #3e2800;
    --red-50: #ff0039;
    --red-60: #d70022;
    --red-70: #a4000f;
    --red-80: #5a0002;
    --red-90: #3e0200;
    --orange-50: #ff9400;
    --orange-60: #d76e00;
    --orange-70: #a44900;
    --orange-80: #712b00;
    --orange-90: #3e1300;
    --grey-10: #f9f9fa;
    --grey-10-a10: rgba(249, 249, 250, 0.1);
    --grey-10-a20: rgba(249, 249, 250, 0.2);
    --grey-10-a40: rgba(249, 249, 250, 0.4);
    --grey-10-a60: rgba(249, 249, 250, 0.6);
    --grey-10-a80: rgba(249, 249, 250, 0.8);
    --grey-20: #ededf0;
    --grey-30: #d7d7db;
    --grey-40: #b1b1b3;
    --grey-50: #737373;
    --grey-60: #4a4a4f;
    --grey-70: #38383d;
    --grey-80: #2a2a2e;
    --grey-90: #0c0c0d;
    --grey-90-a05: rgba(12, 12, 13, 0.05);
    --grey-90-a10: rgba(12, 12, 13, 0.1);
    --grey-90-a20: rgba(12, 12, 13, 0.2);
    --grey-90-a30: rgba(12, 12, 13, 0.3);
    --grey-90-a40: rgba(12, 12, 13, 0.4);
    --grey-90-a50: rgba(12, 12, 13, 0.5);
    --grey-90-a60: rgba(12, 12, 13, 0.6);
    --grey-90-a70: rgba(12, 12, 13, 0.7);
    --grey-90-a80: rgba(12, 12, 13, 0.8);
    --grey-90-a90: rgba(12, 12, 13, 0.9);
    --ink-70: #363959;
    --ink-80: #202340;
    --ink-90: #0f1126;
    --white-100: #fff;

    /* End Photon */
    --font__medium: 16px;
    --font__small: 12px;
    --font__large: 20px;
    --font__xlarge: 24px;

    /* font families */
    --font__main: -apple-system, sans-serif;
    --font__monospace:
        "Menlo",
        "Consolas",
        "Monaco",
        "Andale Mono",
        "Ubuntu Mono",
        monospace;
}

body {
    font-family: var(--font__main);
    font-size: var(--font__medium);
    font-weight: 400;
    background-color: var(--grey-10);
    color: var(--grey-90);
}

h1 {
    font-size: var(--font__xlarge);
    font-weight: 300;
    text-align: center;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--color__text);
    margin: 1em auto;
    padding-bottom: 8px;
}

h2 {
    font-size: var(--font__large);
    font-weight: 300;
}

h2.index-header {
    text-align: center;
    font-size: var(--font__xlarge);
}

h3 {
    font-size: var(--font__medium);
    font-weight: 500;
}

dl {
    font-weight: 300;
}

dt {
    color: var(--grey-60);
    font-size: var(--font__small);
}

dd {
    margin-left: 20px;
}

button {
    border-radius: 2px;
    height: 32px;
    padding: 0 8px;
    font-size: 13px;
    font-weight: 400;
    min-width: 132px;
    color: var(--white-100);
    background-color: var(--blue-60);
    border: none;
}

button:active {
    background-color: var(--blue-80);
}

button:focus {
    box-shadow:
        0 0 0 1px #0a84ff inset,
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10, 132, 255, 0.3);
}

button:disabled {
    opacity: 0.4;
}

button:hover:not(:disabled) {
    background-color: var(--blue-70);
}

a {
    color: var(--blue-60);
    text-decoration: none;
}

a:hover {
    color: var(--blue-60);
    text-decoration: underline;
}

a:active {
    color: var(--blue-70);
}

a:focus {
    box-shadow:
        0 0 0 2px #0a84ff,
        0 0 0 6px rgba(10, 132, 255, 0.3);
}

.smallscreen-padding {
    margin: 4px;
}

.site-title {
    font-size: var(--font__large);
    font-weight: 500;
}

.site-title__link {
    color: var(--grey-90);
}

.site-title__link:hover {
    text-decoration: none;
}

.site-title__link:focus {
    box-shadow: none;
}

.main,
.footer {
    width: 100%;
    overflow: hidden;
}

.footer {
    font-weight: 300;
}

.code {
    font-family: var(--font__monospace);
    width: 100%;
    overflow-x: auto;
    font-size: var(--font__small);
}

code[class*="language-"],
pre[class*="language-"] {
    font-family: var(--font__monospace);
}

.code pre {
    border-width: 1px;
    border-color: var(--ink-90);
    border-style: solid;
    border-radius: 2px;
}

.run {
    font-size: var(--font__large);
    text-align: center;
    margin: 1em 0;
}

.item {
    margin-top: 0.5em;
    padding-top: 0.5em;
    background-color: var(--grey-20);
}

.item__header_h {
    text-align: center;
}

.item__results,
.setup__platform {
    margin-left: 16px;
}

.fastest {
    color: var(--green-70);
    font-weight: 500;
}

.slowest {
    color: var(--red-70);
    font-weight: 500;
}

.subtle {
    color: var(--grey-60);
    font-size: var(--font__small);
}

.menu {
    list-style: none;
    padding-left: 8px;
    font-size: var(--font__large);
}

.go-home {
    margin-left: 8px;
}

/* Tablet-portrait and up */
@media screen and (min-width: 600px) {
    .item,
    .setup {
        display: flex;
        justify-content: space-between;
    }

    .item__body,
    .setup__body {
        flex-shrink: 1;
        flex-grow: 0;
        width: 100%;
    }

    .item__results,
    .setup__platform {
        width: 192px;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .item__results {
        min-height: 15em;
    }
}

/* Tablet-landscape and up */
@media screen and (min-width: 900px) {
    .main,
    .footer {
        max-width: 768px;
        margin: auto;
    }

    .item {
        border-radius: 4px;
    }

    .item,
    .setup {
        padding-left: 8px;
        padding-right: 8px;
    }
}
